{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "overrides": [
    {
      "files": "*.ts",
      "env": {
        "browser": true,
        "node": false
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking"
      ]
    },
    {
      "files": "*.test.ts",
      "env": {
        "browser": false,
        "jest": true
      }
    }
  ]
}
