{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "env": {
    "node": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "no-self-assign": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "env": {
        "browser": true,
        "node": false
      },
      "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:react/recommended",
        "plugin:react/jsx-runtime"
      ],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["error", { "allowExpressions": true }],
        "@typescript-eslint/member-delimiter-style": [
          "error",
          {
            "multiline": { "delimiter": "comma", "requireLast": true },
            "singleline": { "delimiter": "comma", "requireLast": false }
          }
        ],
        "no-self-assign": "off",
        "react/prop-types": "off"
      }
    },
    {
      "files": "*.test.ts",
      "env": {
        "browser": false,
        "jest": true
      }
    }
  ]
}
